.portfolioMainBanner{
    background-image: url("../../assets/PortfolioBanner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}
.inActiveBg{
    background: linear-gradient(to left ,rgba(4, 18, 208, 0.4), rgba(71, 71, 250, 0.4));
}
.inActiveBg:hover{
    background: linear-gradient(to right ,rgba(69, 169, 245, 0.695), rgba(51, 119, 254, 0.4));
}