.activeNav{
  background-image:url("../../assets/totalbg.svg") ;
  background-position: center;
  background-position: cover;
  background-color: black;
  z-index: 999;
  margin: 0;
  --tw-backdrop-saturate: saturate(0);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.navBarBg{
    
  background: none;
    background-color:none;
    z-index: 999;
    margin: 0;
    --tw-backdrop-saturate: none;
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.link{
    position: relative;
  }
.link:after{
    content: '';
    position: absolute;
    width: 0;
     height: 1px;
    display: block;
    margin-top: 5px;
    right: 0;
    bottom: 2%;
    background: #fff;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
  }
   
  .link:hover:after{
    width: 60%;
    left: 0;
    background: #fff;
  }

