.homeMainBox{
    background-image: url("../../assets/totalbg.svg");
    background-position: center;
    background-size: cover;
    background-color: black;
}
.bannerArea{
    background-image: url("../../assets/homeBanner.png");
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    height: 90vh;
}
.bannerButton{
    background: linear-gradient(to right,rgba(0, 145, 218, 0.4), rgba(0, 249, 249, 46%));
    border:1px solid rgba(0, 145, 218, .9);
    position: relative;
}
.bannerButton2{
    background: linear-gradient(to right,rgba(0, 145, 218, 0.4), rgba(0, 249, 249, 46%));
    border:1px solid rgba(0, 145, 218, .9);
    position: relative;
}
.bannerButton:hover{
    background: linear-gradient(to right,rgba(0, 145, 218, 0.6), rgba(0, 249, 249, 65%));
}

.bannerButton:after {
    content: "";
	position: absolute;
	width: 2px;
	height: 100%;

	
	background-color: #f3f3f3;
	top: 0px;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	opacity: 0;
}

.bannerButton::after {
	right: 0%;
	border-radius: 50%;
	-webkit-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	transform: translatex(-50%);

}
.bannerButton:hover:after {
	right: -13%;
	width:47px;
    height: 47px;
	opacity: .5;
  
    background: linear-gradient(to top,rgb(3, 53, 152), rgb(2, 126, 163));
    border-left:1px solid rgb(3, 103, 152);
}
.productBox{
    background-image: url("../../assets/productsBg.svg");
    background-position: center;
    background-size: cover;
    --bg-opacity: 0.50;
}
.brandBg{
    background-image: url("../../assets/clientBg.png");
    background-position: center;
    background-size: cover;
   margin-top: -260px;
   z-index: 1;
    height: 650px;
}
.expertiseBg{
    background: linear-gradient(to top,rgba(0,11,164,12%), rgba(0, 249, 248, 12%));
    background-repeat: no-repeat;
   
   z-index: 1;
    
}
.numbersBg{
    background-image: url("../../assets/Rectangle\ 100.png");
    background-position: center;
    background-size: cover;
}
.productBackground{
    background-image: linear-gradient(to top,rgba(0,56,152,60%), rgba(0, 147, 218, 70%));
    
    border-radius: 20px;
    border:5px solid rgba(0, 147, 218, 40%);
    background-repeat: no-repeat;
    background-clip:padding-box;
}
.followButton{
    background: linear-gradient(to right,rgba(0, 145, 218, 0.55), rgba(0, 247, 249, 46%));
}
.productBackground:hover{
    background-image: url("../../assets/Mask\ Group\ 14.png");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border:5px solid rgba(0, 147, 218, 40%);
    
}
.swiper-pagination > .swiper-pagination-bullet-active {
    opacity: 1 !important;
    background-color:white !important;
}
.swiper-pagination-bullet{
    opacity: .5 !important;
    background-color: #3dbcfb !important;
}
.shapingBg{
    background-image: url("../../assets/shaping.png");
    background-position: center;
    background-size: cover;
    height: 90vh;
    --bg-opacity: 0.15;
}
.mapBox{
    background-image: url("../../assets/totalbg.svg");
    background-position: center;
    background-size: cover;
    height: 583px;
   
   opacity: 100%;
   z-index: 999;
}
.contactBg{
    background: linear-gradient(to top,rgba(0, 11, 164,50%), rgba(54, 54, 255, 50%)), url("../../assets/ucontact.png");
}
.contactFormBg{
    background: linear-gradient(to top right ,rgba(0, 11, 164,40%), rgba(54, 54, 255, 40%));
}
.inputBg{
    background: rgba(214, 214, 214, 0.101);
   
}




.homeImage>img {
    max-width: 250px;
    height: 3rem;
    padding: 0 85px;
    object-fit: cover;
    
}
img:last-of-type {
    padding-left: 0;
    
}

.inner {
    position: relative;
    width: 100%;
    filter: grayscale(100%);
    overflow: hidden;
    height: 5rem;
}

.wrapper {
    position: absolute;
    display: flex;
}

section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    color: white;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    margin-top: 1px;
    border: 1px solid #dddddd0c;
    border-radius: 100%;
    background: #dddddd49;
    
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #2784dbd2;
    box-shadow:  0 0 3px 6px  #2784db44;
    position: absolute;
    border: 3px solid #2784dbd2;
    top: 4.2px;
    left: 3.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    border: 3px solid #2784dbd2;
    -webkit-transform: scale(1);
    transform: scale(1);
   
}
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: white;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid white;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: #2784dbd2;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

@keyframes swipe {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}

@media screen and (max-width: 500px) {
   

    .homeImage>img {
        max-width: 200px;
        height: 4.5rem;
        padding: 0 15px;
        object-fit: cover;
        filter: grayscale(100%);
    }
}