.fixed-social-icons {
    position: fixed;
    bottom: 20px; 
    left: 44px; 
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.fixed-social-icons img {
 
    cursor: pointer;
    
}

.fixed-social-icons img:hover {
   
}

.to-top-button {
    position: fixed;
    bottom: 20px; /* Position slightly above the screen's bottom */
    right: 44px; /* Position slightly inward from the screen's right edge */
    z-index: 999;
    cursor: pointer;
   
}

.to-top-button img {
    width: 50px; /* Adjust the size as necessary */
    height: 50px;
}

.to-top-button img:hover {
    
}
