@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "SegoeBold";
	src: local("SegoeBold"),
		url("./webfonts/Segoe\ UI\ Bold.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "SegoeRegular";
	src: local("SegoeRegular"),
		url("./webfonts/Segoe\ UI.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "PoppinsBold";
	src: local("PoppinsBold"),
		url("./webfonts/Poppins-Bold.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "PoppinsRegular";
	src: local("PoppinsRegular"),
		url("./webfonts/Poppins-Regular.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "PoppinsMedium";
	src: local("PoppinsMedium"),
		url("./webfonts/Poppins-Medium.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "PoppinsSemibold";
	src: local("PoppinsSemibold"),
		url("./webfonts/Poppins-SemiBold.ttf") format("truetype");
	font-weight: bold;
}